.custom-navbar {
    background-color: #13E3B9;
    /*alternative - #0fb493*/
}

.custom-plus-button {
    border-color: #13E3B9;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.75rem;
    font-size: 1rem;
    text-align: center;
}

.custom-plus-button:hover {
  background-color: #13E3B9;
  color: white;
  border-radius: 10rem;
}

h1 {
    margin-top:  3rem;
    margin-bottom:  3rem;
}
h3 {
    text-align: center;
}

.mycanvas {
    margin: 2rem auto 2rem auto;
    outline: lightgrey 1px solid;
    display: block;
/*    width: 800px;*/
}

