.custom-navbar {
    background-color: #13E3B9;
    /*alternative - #0fb493*/
}

.custom-plus-button {
    border-color: #13E3B9;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.75rem;
    text-align: center;
    font-size: 1.5rem;
}

.custom-plus-button:hover{
    background-color: #13E3B9;
    color: white;
    border-radius: 10rem;
}

.custom-delete-button {
    border-color: red;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.75rem;
    text-align: center;
    font-size: 1.5rem;
}


button.custom-delete-button:hover {
    background-color: red;
    color: white;
    border-radius: 10rem;
}

button.custom-delete-button.btn.dropdown-toggle.show {
    background-color: red;
    color: white;
    border-radius: 10rem;
}


.log-btn{
    background-color: #13E3B9;
    text-align: center;
    font-size: 1.3rem;
}

.log-btn:hover{
    background-color: #13E3B9;
    color: white;
}

.save-modal-btn{
    background-color: #13E3B9;
    text-align: center;
}

.close-modal-btn{
    background-color: grey;
    text-align: center;
}

.save-modal-btn:hover{
    background-color: #13E3B9;
    color: white;
}

.close-modal-btn:hover{
    background-color: grey;
    color: white;
}


.deleteX{
    display:  none;
    float: right;
}

.dropdown-item:hover .deleteX {
    display:  block;
    float: right;
}

h1 {
    margin-top:  3rem;
    margin-bottom:  3rem;
}



.mycanvas {
    margin: 2rem auto 2rem auto;
    outline: lightgrey 1px solid;
    display: block;
/*    width: 800px;*/
}
