.cc-selector input {
  margin-right: 20px;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.size {
  height: 40%;
  width: 30%;
}

.cc-selector-2 input {
  position: absolute;
  z-index: 999;
}

.mountain {
  background-image: url(./images/mountain-1.jpg);
}
.beach {
  background-image: url(./images/beach.jpeg);
}

.cc-selector-2 input:active + .drinkcard-cc,
.cc-selector input:active + .drinkcard-cc {
  opacity: 0.9;
}
.cc-selector-2 input:checked + .drinkcard-cc,
.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline;

  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}
.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

/* Extras */
a:visited {
  color: #888;
}
a {
  color: #444;
  text-decoration: none;
}
p {
  margin-bottom: 0.3em;
}

.cc-selector-2 input {
  margin: 5px 0 0 12px;
}
.cc-selector-2 label {
  margin-left: 7px;
}
span.cc {
  color: #6d84b4;
}
